@import "variables/colors";
@import "variables/sizes";

html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, serif;
  background-color: @background;
  color: white;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

img {
  -webkit-user-drag: none;
}

@import "components/button";

#divBaseLayer {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;


  @import "app/navbar";

  #divContent {
    position: absolute;
    top: 0; right: calc(@navbar-width + 1px); bottom: 0; left: 0;

    .div-base-content {
      display: none;
    }

    @import "app/login";

    @import "app/explorer";

    @import "app/viewer";

  }
}

#divPopupLayer {

}


