* {
    -background: #282828;
    -vsol-blue: #029DDF;
    -ok: #089d36;
    -cancel: #755453;
    -edit: #acab5d;

    -text-field: #a7a7a7;
    -place-holder: #d4d4d4;

    -clients: #335c81;
    -patients: #406869;
    -entries: #73937e;

    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

/* Buttons */

.button {
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-graphic-text-gap: 10;
    -fx-min-height: 45;
    -fx-min-width: 45;
    -fx-background-color: black;
    -fx-background-radius: 5;
}
.button:hover {
    -fx-background-color: -vsol-blue;
}

.button.ok {
    -fx-background-color: -ok;
}
.button.ok:hover {
    -fx-background-color: derive(-ok, 50%);
}

.button.cancel {
    -fx-background-color: -cancel;
}
.button.cancel:hover {
    -fx-background-color: derive(-cancel, 50%);
}

.button.wide {
    -fx-min-width: 100;
}

/* Labels */

.label {
    -fx-graphic-text-gap: 10;
}

/* Text */

.text-field, .password-field {
    -fx-background-color: -text-field;
    -fx-text-fill: white;
    -fx-prompt-text-fill: -place-holder;

    -fx-min-width: 200;
    -fx-min-height: 35;
    -fx-padding: 5;
    -fx-font-family: monospace;
    -fx-font-size: large;
}

/* General */

.background {
    -fx-background-color: -background;
}

.progress-bar {
    -fx-accent: -vsol-blue;
}

.extraSmallText {
    -fx-font-size: x-small;
}

.smallText {
    -fx-font-size: small;
}

.largeText {
    -fx-font-size: large;
}

.extraLargeText {
    -fx-font-size: x-large;
}

.grayText {
    -fx-text-fill: gray;
}