@import "../variables/colors";

#divExplorer {
  //padding: 5px;
  //text-align: center;

  .div-explorer-above-table {
    padding: 5px;

    .div-explorer-fiche {
      margin: 20px;
      border: solid thin white;
      border-radius: 5px;
    }
  }

  @import "explorer-table";

}