@import "../variables/colors";

#divExplorerTable {
  width: 100%;
  height: 100%;

  .div-filter-zone {
    text-align: center;
    padding-bottom: 5px;

    input {
      background-image: url("../icon/zoom/16");
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 10px;
      padding-left: 35px;
      width: 300px;
    }

    .img-clear {
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      transform: translateY(3px);
    }

    .span-num-rows {
      font-size: small;
    }

    .dummy {
      visibility: hidden;
    }
  }

  .div-table-zone {
    height: 400px; // set by JS
    overflow-y: auto;

    table {
      width: 100%;
      border-spacing: 0;

      thead {
        height: 50px;
        position: sticky;
        background-color: @background;
        top: 0;

        th {
          text-align: left;
        }
      }

      tbody {
        > :nth-child(odd) {
          background-color: @table-odd-rows;
        }

        > :nth-child(even) {
          background-color: @table-even-rows;
        }

        tr {
          height: 55px;
          //font-weight: bold;

          td {
            padding-left: 5px;
            padding-right: 5px;
          }
        }

      }

      .th-action-buttons {
        width: 1px;
      }

      .th-checkbox {
        text-align: center;
        width: 1px;
      }
    }
  }

}