:root {
    --explorer-nav-zone-height: 55px;
    --explorer-filter-zone-height: 50px;
    --explorer-summary-zone-min-width: 300px;
    --explorer-summary-zone-max-width: 400px;
    --explorer-summary-zone-width: 30%;
}

/* ZONES */

div.explorer-nav-zone {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: var(--explorer-nav-zone-height);
}

div.explorer-summary-zone {
    position: absolute;
    top: var(--explorer-nav-zone-height);
    bottom: 0;
    left: 0;
    min-width: var(--explorer-summary-zone-min-width);
    max-width: var(--explorer-summary-zone-max-width);
    width: var(--explorer-summary-zone-width);
}

div.explorer-filter-zone {
    position: absolute;
    top: var(--explorer-nav-zone-height);
    right: 0;
    height: var(--explorer-filter-zone-height);
    width: calc(100% - var(--explorer-summary-zone-width));
    min-width: calc(100% - var(--explorer-summary-zone-max-width));
    max-width: calc(100% - var(--explorer-summary-zone-min-width));
}

div.explorer-table-zone {
    position: absolute;
    top: calc(var(--explorer-nav-zone-height) + var(--explorer-filter-zone-height));
    right: 0;
    bottom: 0;
    width: calc(100% - var(--explorer-summary-zone-width));
    min-width: calc(100% - var(--explorer-summary-zone-max-width));
    max-width: calc(100% - var(--explorer-summary-zone-min-width));
}

div.explorer-full-width {
    /*width: 100%;*/
    min-width: 100%;
}

/* NAV ZONE */

div.main-toggle-bar {
    text-align: center;
    padding: 5px;
}

button.main-toggle {
    font-size: large;
    min-width: 120px;
    border: solid thin gray;
}
button.main-toggle:disabled {
    opacity: 1.0;
}

button.clients-toggle {
    border-radius: 5px 0 0 5px;
}
button.clients-toggle:hover, button.clients-toggle:disabled {
    background-color: var(--clients);
}

button.patients-toggle {
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}
button.patients-toggle:hover, button.patients-toggle:disabled {
    background-color: var(--patients);
}

button.entries-toggle {
    border-radius: 0 5px 5px 0;
}
button.entries-toggle:hover, button.entries-toggle:disabled {
    background-color: var(--entries);
}

#btnAddClient {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

div.left-add-bar {
    float: left;
    text-align: left;
}

div.right-add-bar {
    /*position: absolute;*/

    /*z-index: 10;*/
    float: right;
    text-align: right;
}

div.breadcrumb-bar {
    padding: 5px;
}

button.breadcrumb {
    border-radius: 15px 0 15px 0;
}

/* SUMMARY ZONE */

div.summary {
    padding: 5px;
    cursor: pointer;
}

div.clients-summary {
    border-color: var(--clients);
}

div.patients-summary {
    border-color: var(--patients);
}

table.summary {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 5px;
}

table.summary th.icon {
    text-align: right;
}

table.summary td.key {
    text-align: right;
    color: #aaa;
    font-style: italic;
    white-space: nowrap;
    width: 1px;
    vertical-align: top;
}

table.summary td.separator {
    color: gray;
    width: 5px;
}

table.summary td.value {
    text-align: left;
    color: white;
}

/* FILTER ZONE */

div.filter-area {
    padding: 5px;
    text-align: center;
}
input.explorer-filter {
    width: 245px;
    margin-right: 0;
    padding-right: 80px;
}

div.filter-area span.count {
    position: absolute;
    font-size: small;
    /*background-color: #335c81;*/
    width: 50px;
    display: inline-block;
    text-align: right;
    font-family: monospace;
    transform: translate(-87px, 10px);
    /*margin-left: -90px;*/
}

button.clear-filter {
    position: absolute;
    background-color: transparent;
    min-height: 35px;
    min-width: 35px;
    transform: translate(-37px, 1px);
}
button.clear-filter:hover:disabled {
    background-color: transparent;
}

/* TABLE ZONE */

div.explorer-scroll-pane {
    position: absolute;
    top: 0; right: 5px; bottom: 5px; left: 5px;
    padding: 0 5px 5px 5px;

    overflow-y: scroll;
}

div.table-area {
    text-align: center;
}

table.explorer {
    width: 100%;
    border-spacing: 0;
}

table.explorer button.sort {
    font-size: medium;
    font-weight: bold;
    margin-left: -5px;
    background-color: transparent;
    white-space: nowrap;
}

table.explorer button.sort img {
    margin-left: 10px;
    opacity: 0.3;
}

table.explorer tr {
    height: 55px;
}

table.explorer tr:nth-child(odd) {
    background-color: var(--table-odd-rows);
}

table.explorer tr:nth-child(even) {
    background-color: var(--table-even-rows);
}

table.explorer tr th {
    background-color: var(--background);

    font-size: small;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;

    text-align: left;
    font-weight: bold;

    position: sticky;
    height: 50px;
    top: 0;
    z-index: 1;
}

table.explorer tr th.button, table.explorer tr td.button {
    width: 1px;

    padding-left: 0;
}

table.explorer tr th.checkbox, table.explorer tr td.checkbox {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    text-align: center;
    padding-left: 5px;
    padding-right: 0;
}

table.explorer tr th.checkbox img, table.explorer tr td.checkbox img {
    opacity: 0.3;
}

table.explorer tr td {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    /*word-wrap: break-word;*/
    /*border: solid thin gray;*/
}

table.explorer tr td.date {
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
}

table.explorer tr td.number {
    text-align: center;
}

label.checkbox.clients input:checked ~ span.checkbox {
    background-color: var(--clients);
}

label.checkbox.patients input:checked ~ span.checkbox {
    background-color: var(--patients);
}

label.checkbox.entries input:checked ~ span.checkbox {
    background-color: var(--entries);
}

table.explorer.clients {
    display: none;
}

table.explorer.patients {
    display: none;
}

table.explorer.clients tr.selected {
    background-color: var(--clients);
}

table.explorer.patients tr.selected {
    background-color: var(--patients);
}

table.explorer.entries tr.selected {
    background-color: var(--entries);
}

