:root {
    --navbarWidth: 70px;
    --menuBarWidth: 260px;
    --menuBarHeight: 90px;
}

#divViewerBar {
    position: absolute;
    z-index: +100;
}

#viewerBarTop {
    position: absolute;
}

#viewerBarBottom {
    position: absolute;
}

button.btnHide {
    min-width: 60px;
    max-width: 60px;
    min-height: 15px;
    max-height: 15px;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    border-color: white;
    padding: 0;
}

button.btnOrientation {
    min-width: 50px;
    min-height: 50px;
    margin: 0;
}

button.btnMeasure {
    min-width: 40px;
    min-height: 40px;
}

button.btnFullMeasure {
    min-width: 85px;
    min-height: 40px;
}

button.btnViewerBar {
    width: 53px;
    height: 53px;
    margin-right: 7px;
}

button.btnViewerBarTab {
    width: 60px;
    height: 53px;
    margin-right: 1px;
    border-radius: 5px 0 0 5px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

button.btnViewerBarActiveTab {
    background-color: var(--background);
    border-color: white;
    border-width: 1px 0 1px 1px;
    border-style: solid;
}

button.btnViewerBarActiveTab:hover {
    opacity: 1.0;
    transition: 0s;
}

button.flexButton {
    display: inline-flex;
    align-items: center;
}

p.lblOrientation {
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    /*font-family: monospace;*/
}

p.lblInstructionsActive {
    font-size: small;
    color: lightgray;
}

p.lblInstructions {
    font-size: small;
    color: gray;
}

img.imgHide {
    transform: translateY(-2px);
}

div.divMeasure {
    display: none;
    text-align: left;
    padding: 10px;
}

label.lblAnnotation {
    display: block;
    color: lightgray;
    font-size: small;
    margin: 5px;
    cursor: pointer;
}

canvas.thumbnailCanvas {
    background-color: black;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#divMenuBar {
    position: absolute;
    background-color: var(--background);
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    z-index: +99;
}

#menuBarTop {
    position: absolute;
    width: 100%;
    height: 100%;
}

#divOrientations {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

#divMeasures {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

#gridDisplay {
    display: grid;
    background-color: var(--background);
    grid-gap: 1px;
}

#touchDragger {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 70px;
    height: 70px;
    background-color: gray;
    filter: opacity(50%);
    visibility: hidden;
}

#divSplit, #divDownload {
    width: 200px;
}

.gridItem {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: auto;
    padding: 0;
    display: none;
}

.modal {
    position: absolute;
    right: calc(var(--menuBarWidth) + 80px );
    background-color: var(--background);
    border: solid 1px white;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    padding: 10px;
    z-index: 10;
}

.pointer {
    cursor: pointer;
}

@media only screen and (orientation: landscape) {

    .portraitOnly { display: none; }

    .landscapeOnly { }

    #divMenuBar {
        height: calc(100% - 20px);
        width: var(--menuBarWidth);
        top: 10px;
        right: 10px;
    }

    #menuBarTop {
        top: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #divViewerBar {
        height: calc(100% - 20px);
        top: 10px;
        width: 61px;
        right: calc(10px + var(--menuBarWidth));
        text-align: right;
    }

    #viewerBarTop {
        top: 0;
        width: 100%;
    }

    #viewerBarBottom {
        bottom: -2px;
        width: 100%;
    }

    div.divStudy {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border-width: 1px;
        border-style: solid;
        width: calc(100% - 20px);
        border-radius: 5px;
    }

    div.divThumbnails {
        margin-top: 3px;
    }

    canvas.thumbnailCanvas {
        margin: 0 1px 0 1px;
    }

    #divViewports {
        top: 68px;
    }

}

@media only screen and (orientation: portrait) {

    .portraitOnly {  }

    .landscapeOnly { display: none }

    #navBar {
        display: none;
    }

    #divContent {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #divMenuBar {
        height: var(--menuBarHeight);
        width: calc(100% - 10px);
        left: 5px;
        bottom: 5px;
    }

    #menuBarTop {
        left: 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    #divViewerBar {
        width: calc(100% - 10px);
        left: 5px;
        height: 56px;
        bottom: calc(10px + var(--menuBarHeight));
        text-align: left;
    }

    #viewerBarTop {
        left: 0;
        height: 100%;
    }

    #viewerBarBottom {
        right: -2px;
        height: 100%;
        white-space: nowrap;
    }

    div.divStudy {
        padding: 5px;
        text-align: left;
        display: inline-block;
    }

    div.divThumbnails {
        border: solid 1px white;
        padding: 2px 2px 0 2px;
    }

    canvas.thumbnailCanvas {
        margin: 1px;
    }

    button.btnViewerBar {
        margin-right: 0;
    }

    #divViewports {
        width: 120px;
        bottom: 165px;
        left: 5px;
    }

}

/* uncertain */

#divContent {
    background-color: var(--background);
    position: absolute;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(var(--navbarWidth) + 11px);
}

#divPrompt {

}

#navBar {
    background-color: var(--background);
    position: absolute;
    width: var(--navbarWidth);
    height: auto;
    padding: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    border-color: white;
    border-width: 0 0 0 1px;
    border-style: solid;
    text-align: center;
}

#lblVersion {
    font-family: monospace;
    font-size: x-small;
    margin-top: 0;
}

#divNavBarUser {
    font-family: monospace;
    position: absolute;
    bottom: 5px;
    overflow-x: hidden;
    text-align: center;
    width: var(--navbarWidth);
}

#lblUserName {
    font-size: small;
    margin: 0 0 5px 0;
}

#lblOrganizationName {
    font-size: x-small;
    margin: 0 0 5px 0;
}

#btnClients {
    border-radius: 5px 0 0 5px;
}

#btnStudies {
    border-radius: 0 5px 5px 0;
}

#divMenuBar {
    position: absolute;
    background-color: var(--background);
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    z-index: +99;
}

#menuBarTop {
    position: absolute;
    width: 100%;
    height: 100%;
}

#divOrientations {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

#divMeasures {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

#divLogo {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: x-small;
    display: none;
    background: linear-gradient(to bottom right, var(--vsol), transparent);
    cursor: pointer;
}

#divViewerBar {
    position: absolute;
    z-index: +100;
}

#viewerBarTop {
    position: absolute;
}

#viewerBarBottom {
    position: absolute;
}

#gridDisplay {
    display: grid;
    background-color: var(--background);
    grid-gap: 1px;
}

#touchDragger {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 70px;
    height: 70px;
    background-color: gray;
    filter: opacity(50%);
    visibility: hidden;
}

#divSplit, #divDownload {
    width: 200px;
}

#divSummary {
    /*background-color: #73937e;*/
    width: calc(100% - 15px);
    padding: 5px;
    cursor: pointer;
    /*text-align: center;*/
}

#divFilter {
    padding-top: 5px;
    padding-left: 5px;
}

#divTable {
    /*border: solid thin white;*/
    overflow-y: auto;
    margin-top: 5px;
}

#vsol4iframe {

}

button.btnViewports {
    width: 50px;
    height: 50px;
}

button.btnSelected {
    background-color: var(--vsol);
    border-color: white;
}

button.btnListview {
    padding: 10px;
    min-width: 0;
}

button.btnPlayControls {
    min-width: 30px;
    min-height: 30px;
}

button.btnInModal {
    display: block;
    width: 100%;
    min-height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

button.btnFlagged {
    background: linear-gradient(135deg, white 10px, black 20px);
}

button.btnFlagged:hover {
    background: linear-gradient(135deg, white 10px, var(--light-gray) 20px);
}

button.flexButton {
    display: inline-flex;
    align-items: center;
}

button.radio, button.check {
    min-width: 40px;
    margin: 0;
    background-color: gray;
    border: none;
}

button.radio:hover {
    opacity: 1.0;
    transition: 0.2s;
    background-color: var(--clients);
}

button.btnOrientation {
    min-width: 50px;
    min-height: 50px;
    margin: 0;
}

button.btnPrompt {
    min-width: 100px;
}

button.btnMeasure {
    min-width: 40px;
    min-height: 40px;
}

button.btnFullMeasure {
    min-width: 85px;
    min-height: 40px;
}

button.btnViewerBar {
    width: 53px;
    height: 53px;
    margin-right: 7px;
}

button.btnViewerBarTab {
    width: 60px;
    height: 53px;
    margin-right: 1px;
    border-radius: 5px 0 0 5px;
    border-color: white;
}

button.btnViewerBarActiveTab {
    background-color: var(--background);
    border-color: white;
    border-width: 1px 0 1px 1px;
}

button.btnViewerBarActiveTab:hover {
    opacity: 1.0;
    transition: 0s;
}

button.btnHide {
    min-width: 60px;
    max-width: 60px;
    min-height: 15px;
    max-height: 15px;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    border-color: white;
    padding: 0;
}

button.table {
    min-width: 50px; max-width: 50px;
    min-height: 50px; max-height: 50px;
    border: none;
}

div.divMeasure {
    display: none;
    text-align: left;
    padding: 10px;
}

div.promptContainer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    text-align: center;
}

div.divPrompt {
    margin: 50px auto;
    width: 400px;
    max-height: calc(100% - 120px);
    background-color: var(--background);
    border: solid 1px white;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    text-align: left;
    overflow: auto;

}

div.divPromptLong {
    margin: 10px auto;
    max-height: calc(100% - 40px);
}

/*div.title {*/
/*    !*width: calc(100% - 10px);*!*/
/*    !*width: 100%;*!*/
/*    padding: 10px 5px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    border-width: 1px;*/
/*    border-style: solid;*/
/*    border-radius: 5px 5px 0 0;*/
/*}*/

div.info {
    /*width: 100%;*/
    /*width: calc(100% - 15px);*/
    padding: 10px 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    /*margin-top: -1px;*/
}

div.partial {
    margin: 5px 0;
    border: solid thin white;
    border-radius: 5px;
    display: inline-grid;
    padding: 15px;
    /*min-width: 500px; max-width: 500px;*/
    /*min-height: 500px; max-height: 500px;*/
    /*min-height: 500px;*/
    vertical-align: top;
    background-color: var(--background);
    text-align: left;
}

div.divPlayControls {
    position: absolute;
    padding: 5px;
    bottom: 10px;
    left: 50%;
    border: solid 1px white;
    border-radius: 5px;
    background: var(--background);
    display: none;
}

span.spanPrompt {
    display: block;
    margin-top: 20px;
    text-align: left;
}

p.flag {
    margin: 5px 0 0 0;
}

p.lblModalTitle {
    font-weight: bold;
    margin-top: 5px;
}

p.lblPlayControls {
    display: inline-block;
    font-size: x-small;
    margin: 0;
    vertical-align: sub;
    min-width: 20px;
}

p.lblInstructionsActive {
    font-size: small;
    color: lightgray;
}

p.lblInstructions {
    font-size: small;
    color: gray;
}

p.extraInfo {
    margin: 5px 10px;
}

p.caption {
    margin: 5px 0;
    font-size: medium;
}

p.studyName {
    font-weight: bold;
    cursor: pointer;
}

p.studyDescription {
    color: white;
    width: 100%;
    padding: 3px 0 3px 0;
    cursor: pointer;
    margin: 0;
}

p.lblOrientation {
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    /*font-family: monospace;*/
}

p.lblListview {
    font-style: normal;
    font-size: small;
    margin: 0;
    min-width: 150px
}

i.iCounter {
    font-style: normal;
    font-size: small;
}

input.txtModifyTags {
    width: calc(100% - 20px);
}

canvas.thumbnailCanvas {
    background-color: black;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

table.info {
    table-layout: fixed;
}

td.key {
    width: 95px;
    background-color: var(--background);
    color: var(--light-gray);
    padding: 3px;
    height: 1px;
    text-align: right;
}

td.value {
    background-color: var(--background);
    color: white;
    padding: 3px;
    height: 1px
}

td.tdModifyTagField {
    text-align: right;
    font-weight: bold;
    width: 1px;
    white-space: nowrap;
}

tr.checked {
    background-color: var(--light-gray);
}

label.lblAnnotation {
    display: block;
    color: lightgray;
    font-size: small;
    margin: 5px;
    cursor: pointer;
}

input.getter {
    font-size: large;
    padding: 5px;
}

input.value {
    width: 260px;
    margin: 2px 0;
}

textarea.txaValue {
    width: 260px;
    height: 301px;
    margin: 2px 0;
    resize: none;
}

img.up {
    transform: translateY(2px);
}

img.down {
    transform: translateY(3px);
}

img.imgHide {
    transform: translateY(-2px);
}

img.imgFlag {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

img.imgFlag:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: 0.2s;

}
