div.client-fiche {
    display: inline-block;
    max-width: 95%;

    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width : 881px) {
    div.client-fiche {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

div.client-fiche div.content {
    padding: 5px;
}

div.client-fiche div.button-bar {
    display: inline-block;
    /*background-color: black;*/
    margin-top: 5px;
    padding: 5px;
    /*border: solid 1px white;*/
    border-radius: 5px;
}

div.client-fiche .segment {
    display: inline-grid;
    background-color: black;
    border: solid 1px white;
    border-radius: 5px;
    width: 250px;
    height: 325px;
    margin-top: 5px;
    text-align: left;
    padding: 10px;
}

@media only screen and (max-width : 589px) {
    div.client-fiche .segment.second {
        height: auto;
    }
    div.client-fiche .segment.third {
        height: 200px;
    }
}

div.client-fiche div.title {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

div.client-fiche div.title.first {
    margin-top: 0;
}

div.client-fiche input {
    width: calc(100% - 10px);
    margin-bottom: 5px;
}

div.client-fiche input.postal {
    width: 60px;
}

div.client-fiche input.city {
    width: calc(100% - 60px - 26px);
}

div.client-fiche button.language {
    border: dashed 1px var(--text-field);
}
div.client-fiche button.language:hover {
    background-color: var(--clients);
}
div.client-fiche button.language:disabled {
    background-color: var(--clients);
    border: none;
    opacity: 1.0;
}

div.client-fiche textarea {
    width: calc(100% - 10px);
    height: calc(100% - 30px);
    resize: none;
}
