div.dialog {
    background-color: black;
    display: inline-block;
    /*width: 350px;*/
    width: 400px;
    max-width: 90%;
    border: solid 1px white;
    border-radius: 5px;
    margin-top: 100px;
    padding: 5px;
    text-align: left;
}

div.dialog div.content {
    padding: 5px;
}

div.dialog div.button-bar {
    margin-top: 20px;
}

div.dialog div.input-bar {
    margin-top: 10px;
}

div.dialog div.input-bar input {
    width: calc(100% - 10px);
}