@import "../variables/colors";

#divPopupDialog {
  p {
    margin: 0;
  }

  .input-bar {
    margin-top: 10px;
    display: none;

    input {
      width: calc(100% - 10px);
    }
  }

  .button-bar {
    margin-top: 20px;
  }
}