div.patient-fiche {
    display: inline-block;
    max-width: 95%;

    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width : 589px) {
    div.patient-fiche {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

div.patient-fiche div.content {
    padding: 5px;
}

div.patient-fiche div.button-bar {
    display: inline-block;
    /*background-color: black;*/
    margin-top: 5px;
    padding: 5px;
    /*border: solid 1px white;*/
    border-radius: 5px;
}

div.patient-fiche .segment {
    display: inline-grid;
    background-color: black;
    border: solid 1px white;
    border-radius: 5px;
    width: 250px;
    height: 325px;
    margin-top: 5px;
    text-align: left;
    padding: 10px;
}

@media only screen and (max-width : 589px) {
    div.patient-fiche .segment.second {
        height: auto;
    }
}

div.patient-fiche div.title {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

div.patient-fiche div.title.first {
    margin-top: 0;
}

div.patient-fiche div.title.neutered {
    text-align: right;
    margin-top: -21px;
    margin-right: 5px;
}

div.patient-fiche input {
    width: calc(100% - 10px);
    margin-bottom: 5px;
}

div.patient-fiche input.postal {
    width: 60px;
}

div.patient-fiche input.city {
    width: calc(100% - 60px - 26px);
}

div.patient-fiche button.sex {
    border: dashed 1px var(--text-field);
}
div.patient-fiche button.sex:hover {
    background-color: var(--patients);
}
div.patient-fiche button.sex:disabled {
    background-color: var(--patients);
    border: none;
    opacity: 1.0;
}

div.patient-fiche textarea {
    width: calc(100% - 10px);
    height: calc(100% - 30px);
    resize: none;
}

div.patient-fiche div.switch-container {
    text-align: right;
    margin-top: -42px;
}

div.patient-fiche label.switch input:checked + span.switch {
    background-color: var(--patients);
}
