@import "../variables/colors";

table {
  width: 100%;

  thead {
    position: sticky;
    background-color: @background;
    top: 0;
  }

  tbody {

    > :nth-child(odd) {
      background-color: @table-odd-rows;
    }

    > :nth-child(even) {
      background-color: @table-even-rows;
    }

    tr {
      height: 55px;
      //font-weight: bold;

      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

  }
}

::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background-color: #555;
  //border-radius: 5px;
  margin-top: 50px;
  //margin-bottom: 1px;
}

::-webkit-scrollbar-track:disabled {
  background-color: @background;
}

::-webkit-scrollbar-thumb {
  background-color: @vsol;
  //border-radius: 5px;
}

//.explorer-scrollbar ::-webkit-scrollbar-track {
//  margin-top: 55px;
//}

.clients-scrollbar ::-webkit-scrollbar-thumb {
  background-color: @clients;
}

.patients-scrollbar ::-webkit-scrollbar-thumb{
  background-color: @patients;
}

.entries-scrollbar ::-webkit-scrollbar-thumb{
  background-color: @entries;
}